
# Where extracted files are located
root = /data/extract

# Host list from which to extract
#hosts = host1 host2 host3

# List of files to extract (on the remote host, not locally)
files = /var/cache/rpm-find-changes/etc.txt

# Post process scripts
post_extract_host = /etc/extract/scripts/extract_tarball
post_extract =

