
# Where extracted files are to be stored (in per-host trees)
#root = /data/extract

# Hosts from which to extract (space separated)
#hosts = host1 host2 host3

# Alternatively, use a command to return a (space separated) list of hosts
#host_cmd = hosttag -A

# File containing list of files to extract (on the remote host, not locally)
#files = /var/cache/rpm-find-changes/etc.txt

# Pre-process scripts (the noop one is an example only, don't use)
# (scripts in /etc/extract/scripts, or absolute paths; comma-separate if more than one)
#pre_extract_host  = pre_extract_noop

# Post process scripts (uncomment one of the following, or supply your own)
# (scripts in /etc/extract/scripts, or absolute paths; comma-separate if more than one)
#post_extract_host = post_extract_tarball
#post_extract_host = post_extract_bzr
#post_extract_host = post_extract_git
#post_extract_host = post_extract_git,post_extract_touch

